In [46]:
import pandas as pd
import datetime

In [47]:
import pyarrow.parquet as pq

In [48]:
data = pd.read_parquet('Call_Report_BankData_852218 (1).parquet', engine='fastparquet')
data

,ID,Item,IDRSSD,Value,Date,CValue,schedule,schedule.label,Label1clean,Label2clean,...,line2,line3,line4,line5,line6,line7,column.label,type,balance,Status
0,3.0,RCFA3792,852218.0,1.644990e+11,2014-03-31,1.644990e+11,RCRI,Regulatory Capital Components and Ratios,47. Total capital,a. Total capital,...,1,None,None,None,None,None,,monetary,credit,Main
1,3.0,RCFA3792,852218.0,1.683120e+11,2014-06-30,3.813000e+09,RCRI,Regulatory Capital Components and Ratios,47. Total capital,a. Total capital,...,1,None,None,None,None,None,,monetary,credit,Main
2,3.0,RCFA3792,852218.0,1.705590e+11,2014-09-30,2.247000e+09,RCRI,Regulatory Capital Components and Ratios,47. Total capital,a. Total capital,...,1,None,None,None,None,None,,monetary,credit,Main
3,3.0,RCFA3792,852218.0,1.733280e+11,2014-12-31,2.769000e+09,RCRI,Regulatory Capital Components and Ratios,47. Total capital,a. Total capital,...,1,None,None,None,None,None,,monetary,credit,Main
4,3.0,RCFA3792,852218.0,1.781850e+11,2015-03-31,1.781850e+11,RCRI,Regulatory Capital Components and Ratios,47. Total capital,a. Total capital,...,1,None,None,None,None,None,,monetary,credit,Main
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116735,4422.0,RIADHK04,852218.0,4.800000e+07,2022-03-31,4.800000e+07,RI,Income Statement,2. Interest expense,a. Interest on deposits,...,1,2,3,None,None,None,,monetary,debit,Main
116736,4422.0,RIADHK04,852218.0,2.420000e+08,2022-06-30,1.940000e+08,RI,Income Statement,2. Interest expense,a. Interest on deposits,...,1,2,3,None,None,None,,monetary,debit,Main
116737,4422.0,RIADHK04,852218.0,8.270000e+08,2022-09-30,5.850000e+08,RI,Income Statement,2. Interest expense,a. Interest on deposits,...,1,2,3,None,None,None,,monetary,debit,Main
116738,4422.0,RIADHK04,852218.0,1.820000e+09,2022-12-31,9.930000e+08,RI,Income Statement,2. Interest expense,a. Interest on deposits,...,1,2,3,None,None,None,,monetary,debit,Main
116739,4422.0,RIADHK04,852218.0,1.207000e+09,2023-03-31,1.207000e+09,RI,Income Statement,2. Interest expense,a. Interest on deposits,...,1,2,3,None,None,None,,monetary,debit,Main

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116740 entries, 0 to 116739
Data columns (total 27 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                116740 non-null  float64
 1   Item              116740 non-null  object
 2   IDRSSD            116740 non-null  float64
 3   Value             116740 non-null  float64
 4   Date              116740 non-null  datetime64[ns]
 5   CValue            116740 non-null  float64
 6   schedule          116740 non-null  object
 7   schedule.label    116740 non-null  object
 8   Label1clean       116740 non-null  object
 9   Label2clean       75474 non-null   object
 10  Label3clean       27660 non-null   object
 11  Label4clean       5131 non-null    object
 12  Label5clean       0 non-null       float64
 13  Label6clean       0 non-null       float64
 14  Label7clean       0 non-null       float64
 15  labelStringclean  116740 non-null  object
 16  line1             116740 non-null  object
 17  line2             75474 non-null   object
 18  line3             27660 non-null   object
 19  line4             5131 non-null    object
 20  line5             0 non-null       object
 21  line6             0 non-null       object
 22  line7             0 non-null       object
 23  column.label      116740 non-null  object
 24  type              116740 non-null  object
 25  balance           112646 non-null  object
 26  Status            116740 non-null  object
dtypes: datetime64[ns](1), float64(7), object(19)
memory usage: 24.0+ MB

In [50]:
data.columns

Index(['ID', 'Item', 'IDRSSD', 'Value', 'Date', 'CValue', 'schedule',
       'schedule.label', 'Label1clean', 'Label2clean', 'Label3clean',
       'Label4clean', 'Label5clean', 'Label6clean', 'Label7clean',
       'labelStringclean', 'line1', 'line2', 'line3', 'line4', 'line5',
       'line6', 'line7', 'column.label', 'type', 'balance', 'Status'],
      dtype='object')

In [51]:
data.shape

(116740, 27)

In [52]:
data.iloc[0]

ID                                                       3.0
Item                                                RCFA3792
IDRSSD                                              852218.0
Value                                         164499000000.0
Date                                     2014-03-31 00:00:00
CValue                                        164499000000.0
schedule                                                RCRI
schedule.label      Regulatory Capital Components and Ratios
Label1clean                                47. Total capital
Label2clean                                 a. Total capital
Label3clean                                             None
Label4clean                                             None
Label5clean                                              NaN
Label6clean                                              NaN
Label7clean                                              NaN
labelStringclean                               Total capital
line1                                                     47
line2                                                      1
line3                                                   None
line4                                                   None
line5                                                   None
line6                                                   None
line7                                                   None
column.label
type                                                monetary
balance                                               credit
Status                                                  Main
Name: 0, dtype: object

In [53]:
data['Label5clean'].unique(),data['line5'].unique()

(array([nan]), array([None], dtype=object))

In [54]:
dropped_column = ['Label5clean','Label6clean','Label7clean','line5','line6','line7']
data = data.drop(columns=dropped_column,axis=1)
data.columns

Index(['ID', 'Item', 'IDRSSD', 'Value', 'Date', 'CValue', 'schedule',
       'schedule.label', 'Label1clean', 'Label2clean', 'Label3clean',
       'Label4clean', 'labelStringclean', 'line1', 'line2', 'line3', 'line4',
       'column.label', 'type', 'balance', 'Status'],
      dtype='object')

In [55]:
data_clean = data[['labelStringclean','CValue']]
data_clean

                           labelStringclean        CValue
0                             Total capital  1.644990e+11
1                             Total capital  3.813000e+09
2                             Total capital  2.247000e+09
3                             Total capital  2.769000e+09
4                             Total capital  1.781850e+11
...                                     ...           ...
116735  Time deposits of more than $250,000  4.800000e+07
116736  Time deposits of more than $250,000  1.940000e+08
116737  Time deposits of more than $250,000  5.850000e+08
116738  Time deposits of more than $250,000  9.930000e+08
116739  Time deposits of more than $250,000  1.207000e+09

[116740 rows x 2 columns]

In [56]:
def under_label (data):
    schedule = 'RI'
    date = datetime.date(2023, 3, 31)
    columns = ['schedule', 'Date']
    filtered_df = data[data[columns].isin([schedule, date]).all(axis=1)]
    
    ind = 1
    label = 'Label'+str(ind)+'clean'
    
    for _ in filtered_df.Label1clean.unique():
        print(_)

In [57]:
under_label(data)

In [58]:
data.iloc[0]

ID                                                       3.0
Item                                                RCFA3792
IDRSSD                                              852218.0
Value                                         164499000000.0
Date                                     2014-03-31 00:00:00
CValue                                        164499000000.0
schedule                                                RCRI
schedule.label      Regulatory Capital Components and Ratios
Label1clean                                47. Total capital
Label2clean                                 a. Total capital
Label3clean                                             None
Label4clean                                             None
labelStringclean                               Total capital
line1                                                     47
line2                                                      1
line3                                                   None
line4                                                   None
column.label
type                                                monetary
balance                                               credit
Status                                                  Main
Name: 0, dtype: object

In [59]:
data.iloc[36]

ID                                                       3.0
Item                                                RCFA3792
IDRSSD                                              852218.0
Value                                         292244000000.0
Date                                     2023-03-31 00:00:00
CValue                                        292244000000.0
schedule                                                RCRI
schedule.label      Regulatory Capital Components and Ratios
Label1clean                                47. Total capital
Label2clean                                 a. Total capital
Label3clean                                             None
Label4clean                                             None
labelStringclean                               Total capital
line1                                                     47
line2                                                      1
line3                                                   None
line4                                                   None
column.label
type                                                monetary
balance                                               credit
Status                                                  Main
Name: 36, dtype: object

In [60]:
data.iloc[37]

ID                                                                4.0
Item                                                         RCFA5310
IDRSSD                                                       852218.0
Value                                                   13456000000.0
Date                                              2014-03-31 00:00:00
CValue                                                  13456000000.0
schedule                                                         RCRI
schedule.label               Regulatory Capital Components and Ratios
Label1clean         42. Allowance for loan and lease losses and el...
Label2clean         a. Allowance for loan and lease losses includa...
Label3clean                                                      None
Label4clean                                                      None
labelStringclean    Allowance for loan and lease losses includable...
line1                                                              42
line2                                                               1
line3                                                            None
line4                                                            None
column.label
type                                              nonNegativeMonetary
balance                                                        credit
Status                                                           Main
Name: 37, dtype: object

In [61]:
data.iloc[-228]

ID                                                             4317.0
Item                                                         RIADB485
IDRSSD                                                       852218.0
Value                                                             0.0
Date                                              2001-03-31 00:00:00
CValue                                                            0.0
schedule                                                           RI
schedule.label                                       Income Statement
Label1clean                                        1. Interest income
Label2clean                       a. Interest and fee income on loans
Label3clean         3. Loans to individuals for household, family,...
Label4clean                                           a. Credit cards
labelStringclean                                         Credit cards
line1                                                               1
line2                                                               1
line3                                                               3
line4                                                               1
column.label
type                                                         monetary
balance                                                        credit
Status                                                           Main
Name: 116512, dtype: object

In [62]:
data.iloc[-140] #88

ID                                                             4317.0
Item                                                         RIADB485
IDRSSD                                                       852218.0
Value                                                    5623000000.0
Date                                              2023-03-31 00:00:00
CValue                                                   5623000000.0
schedule                                                           RI
schedule.label                                       Income Statement
Label1clean                                        1. Interest income
Label2clean                       a. Interest and fee income on loans
Label3clean         3. Loans to individuals for household, family,...
Label4clean                                           a. Credit cards
labelStringclean                                         Credit cards
line1                                                               1
line2                                                               1
line3                                                               3
line4                                                               1
column.label
type                                                         monetary
balance                                                        credit
Status                                                           Main
Name: 116600, dtype: object

In [63]:
data.iloc[-139] #88

ID                                                             4318.0
Item                                                         RIADB486
IDRSSD                                                       852218.0
Value                                                     396000000.0
Date                                              2001-03-31 00:00:00
CValue                                                    396000000.0
schedule                                                           RI
schedule.label                                       Income Statement
Label1clean                                        1. Interest income
Label2clean                       a. Interest and fee income on loans
Label3clean         3. Loans to individuals for household, family,...
Label4clean         b. Other (includes revolving credit plans othe...
labelStringclean    Other (includes revolving credit plans other t...
line1                                                               1
line2                                                               1
line3                                                               3
line4                                                               2
column.label
type                                                         monetary
balance                                                        credit
Status                                                           Main
Name: 116601, dtype: object

In [64]:
data.iloc[-51]

ID                                                             4318.0
Item                                                         RIADB486
IDRSSD                                                       852218.0
Value                                                     884000000.0
Date                                              2023-03-31 00:00:00
CValue                                                    884000000.0
schedule                                                           RI
schedule.label                                       Income Statement
Label1clean                                        1. Interest income
Label2clean                       a. Interest and fee income on loans
Label3clean         3. Loans to individuals for household, family,...
Label4clean         b. Other (includes revolving credit plans othe...
labelStringclean    Other (includes revolving credit plans other t...
line1                                                               1
line2                                                               1
line3                                                               3
line4                                                               2
column.label
type                                                         monetary
balance                                                        credit
Status                                                           Main
Name: 116689, dtype: object

In [65]:
data.iloc[-50]

ID                                                4421.0
Item                                            RIADHK03
IDRSSD                                          852218.0
Value                                         29000000.0
Date                                 2017-03-31 00:00:00
CValue                                        29000000.0
schedule                                              RI
schedule.label                          Income Statement
Label1clean                          2. Interest expense
Label2clean                      a. Interest on deposits
Label3clean                   2. Nontransaction accounts
Label4clean         b. Time deposits of $250,000 or less
labelStringclean       Time deposits of $250,000 or less
line1                                                  2
line2                                                  1
line3                                                  2
line4                                                  2
column.label
type                                            monetary
balance                                            debit
Status                                              Main
Name: 116690, dtype: object

In [66]:
data.iloc[-1]

ID                                                  4422.0
Item                                              RIADHK04
IDRSSD                                            852218.0
Value                                         1207000000.0
Date                                   2023-03-31 00:00:00
CValue                                        1207000000.0
schedule                                                RI
schedule.label                            Income Statement
Label1clean                            2. Interest expense
Label2clean                        a. Interest on deposits
Label3clean                     2. Nontransaction accounts
Label4clean         c. Time deposits of more than $250,000
labelStringclean       Time deposits of more than $250,000
line1                                                    2
line2                                                    1
line3                                                    2
line4                                                    3
column.label
type                                              monetary
balance                                              debit
Status                                                Main
Name: 116739, dtype: object